{% extends "main_content.html" %}

{% block content %}

<h2>About Project Bhoomi</h2>
<h3>test</h3>
<div>
  Project Bhoomi is intended as a contribution to the world of International Development.
  Traditional sources of information, such as census data, are often out of date
   in the developing world and thus are not representative of current conditions.
   This paucity of infomration has afforded an opportunity for researchers to
   explore the possibility of supplementing traditional data sources with new forms
   of digital data.
</div>

<div>
  This project aims to build upon work done by a team of researchers led by Neal Jean,
  a PhD student at Stanford. Jean has demonstrated the power of applying machine learning
  algorithms on satellite imagery in order to determine economic conditions in Sub Saharan
  Africa. We have worked to reproduce Jean's work, and to create an interactive information
  portal that could be used by stakeholders and decision makers in the Internation Development
  and Internation Aid arenas.
</div>

{% endblock %}
