<!DOCTYPE html>

{% load staticfiles %}
{% load leaflet_tags %}
{% load bootstrap3 %}

<html>
<head>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v3.0.1/mapbox.css' rel='stylesheet' />

  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% leaflet_js %}
  {% leaflet_css %}

  <title>Sample Map</title>
</head>
<body>
  <div id='map' style='width: 800px; height: 500px;'></div>
  <script>
    L.mapbox.accessToken = "{{ token }}";
    var mapdata = '{% url "dhs-clusters-data" %}';
    var mapGeo = L.mapbox.Map({
      container: 'map',
      //style: 'mapbox://styles/mapbox/satellite-v9',
      style: 'mapbox://styles/mapbox/outdoors-v9',
      center: [29.8739, -1.9403], // starting position
      zoom: 7, // starting zoom
      maxZoom: 16,
      minZoom: 7,
    });
    var myLayer = L.mapbox.featureLayer().setGeoJSON(mapdata).addTo(mapGeo);
  </script>
</body>
</html>
