{% extends "main_content.html" %}

{% block head %}
<script src='https://api.mapbox.com/mapbox-gl-js/v0.34.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.34.0/mapbox-gl.css' rel='stylesheet' />
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/bootstrap-slider.min.js'></script>
<link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.8.0/css/bootstrap-slider.min.css' rel='stylesheet' />
{% endblock %}

{% block content %}

<style>
  #map {
    position: absolute;
    width: 100%;
    top:0px;
    bottom: 0px;
  }
</style>

<style>
  #menu {
      background: #fff;
      position: absolute;
      z-index: 1;
      top: 70px;
      left: 10px;
      border-radius: 3px;
      width: 120px;
      border: 1px solid rgba(0,0,0,0.4);
      font-family: 'Open Sans', sans-serif;
  }

  #menu a {
      font-size: 13px;
      color: #404040;
      display: block;
      margin: 0;
      padding: 0;
      padding: 10px;
      text-decoration: none;
      border-bottom: 1px solid rgba(0,0,0,0.25);
      text-align: center;
  }

  #menu a:last-child {
      border: none;
  }

  #menu a:hover {
      background-color: #f8f8f8;
      color: #404040;
  }

  #menu a.active {
      background-color: #3887be;
      color: #ffffff;
  }

  #menu a.active:hover {
      background: #3074a4;
  }
</style>

<style>
  #style-menu {
    position: absolute;
    bottom: 40px;
    left: 8px;
    color: #f5f5f5;
  }

  #style-menu input {
    margin-left: 5px;
  }
</style>

<style>
  .map-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    margin-right: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
  }

  #features {
    top: 50px;
    height: 100px;
    margin-top: 20px;
    width: 200px;
  }

  #features p {
    font-family: Arial, sans-serif;
    padding-top: 5px;
    padding-left: 10px;
  }

  #legend {
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 18px;
    height: 80px;
    top: 550px;
    width: 150px;
  }

  .legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }
</style>

<style>
  #slider-content {
    position: absolute;
    top: 260px;
    left: 40px;
  }

  #slider-admin-level {
    position: absolute;
    top: 260px;
  }

  .slider-handle.custom {
      position: absolute;
      top: 260px;
  }
</style>

<style>
  #download {
      background: #BF3F3F;
      color: #ffffff;
      position: absolute;
      z-index: 1;
      top: 120px;
      left: 10px;
      border-radius: 3px;
      width: 120px;
      border: 1px solid rgba(0,0,0,0.4);
      font-family: 'Open Sans', sans-serif;
  }

  #download {
      font-size: 13px;
      color: #ffffff;
      display: block;
      margin: 0;
      padding: 0;
      padding: 10px;
      text-decoration: none;
      border-bottom: 1px solid rgba(0,0,0,0.25);
      text-align: center;
  }

  #download:hover {
      background-color: #722626;
  }
</style>

  <div id='map'></div>
  <div class='map-overlay display-none' id='features'><div id='pd'></div></div>
  <div class='map-overlay' id='legend'></div>

  <div id='slider-content'><input id="slider-admin-level" type="text" /></div>

  <div id='style-menu'>
    <input id='basic' type='radio' name='rtoggle' value='basic' checked='checked'>
    <label for='basic'>basic</label>
    <input id='streets' type='radio' name='rtoggle' value='streets'>
    <label for='streets'>streets</label>
    <input id='bright' type='radio' name='rtoggle' value='bright'>
    <label for='bright'>bright</label>
    <input id='light' type='radio' name='rtoggle' value='light'>
    <label for='light'>light</label>
    <input id='dark' type='radio' name='rtoggle' value='dark'>
    <label for='dark'>dark</label>
    <input id='outdoors' type='radio' name='rtoggle' value='outdoors'>
    <label for='outdoors'>outdoors</label>
    <input id='satellite' type='radio' name='rtoggle' value='satellite'>
    <label for='satellite'>satellite</label>
  </div>

  <nav id="menu"></nav>

  <form method="get" action="{% url 'download' country admin_level %}">
      <input type="hidden" name="selected_regions" id="selected_regions" value="" />
      <input type="submit" id="download" value="Download" />
  </form>

  <script>

    // load MapBox token
    mapboxgl.accessToken = "{{ token }}";

    // configure map load
    var clusterCenters = {
        "id": "dhs-clusters",
        "type": "circle",
        "source": {
            "type": "geojson",
            "data": '/dhs-data.geojson?country={{ country }}'
          },
        "layout": {
                    'visibility': 'visible'
          },
        'paint': {
          'circle-radius': 5,
          //'circle-color': 'rgba(55,148,179,1)'
          'circle-color':'#43a2ca'
        }
      }

    // configure map load
    var regionPredictions = {
        "id": "region-predictions",
        "type": "fill",
        "source": {
            "type": "geojson",
            "data":'{% url "regions-predictions-data" %}'
          },
        "layout": {
                    'visibility': 'visible'
          },
        'paint': {
          'fill-color': '#008888',
          'fill-opacity': 0.8
        }
      }

    // initialize map
    var map = new mapboxgl.Map({
      container: 'map',
      //style: 'mapbox://styles/mapbox/satellite-v9?optimize=true',
      // style: 'mapbox://styles/mapbox/outdoors-v9?optimize=true',
      style: '{{ mapbox_style }}',
      //center: [29.8739, -1.9403], // starting position
      center: [{{ center_lng }}, {{ center_lat }}],
      zoom: {{ zoom_level }}, // starting zoom
      maxZoom: {{ max_zoom }},
      minZoom: {{ min_zoom }},
      //maxBounds: new mapboxgl.LngLatBounds([left, top], [right, bottom]) // maximum map bounds
    });
    map.on('load', function () {
      //start with clear selected filter.
      map.setFilter("selected", ['in', 'name']);
      map.addLayer(clusterCenters);
      //map.addLayer(regionPredictions);

      //choropleth layers
      var layers = ['low-wealth', 'medium-wealth', 'high-wealth'];
      var legend = document.getElementById('legend');

      // adding the legends corresponding to the wealth indexes choropleth.
      layers.forEach(function(layer) {
        var color = map.getPaintProperty(layer, 'fill-color');
        var item = document.createElement('div');
        var key = document.createElement('span');
        key.className = 'legend-key';
        key.style.backgroundColor = color;

        var value = document.createElement('span');
        value.innerHTML = layer;
        item.appendChild(key);
        item.appendChild(value);
        legend.appendChild(item);
      });
    });

    map.on('mousemove', function(e) {
      var layers = ['low-wealth', 'medium-wealth', 'high-wealth'];
      var states = map.queryRenderedFeatures(e.point, {
        layers: layers
      });

      if (states.length > 0) {
        document.getElementById('pd').innerHTML = '<p><strong>Region: </strong>' + states[0].properties.name + '</p><p><strong>Wealth index: </strong>' + states[0].properties.predicted_wealth_idx + '</p><p><strong>Decile: </strong>' + states[0].properties.wealth_decile + '</p>';
        document.getElementById('features').classList.remove("display-none");
      } else {
        document.getElementById('pd').innerHTML = '';
        document.getElementById('features').classList.add("display-none");
      }
    });

    var filtered_regions = new Array();

    map.on('click', function(e) {
        //selecting regions on map.
        var layers = ['low-wealth', 'medium-wealth', 'high-wealth']
        var features = map.queryRenderedFeatures(e.point, { layers: layers });

        if(features.length > 0){
            var exists = filtered_regions.indexOf(features[0].properties.name)
            if(exists < 0){
                filtered_regions.push(features[0].properties.name);
            }
            else{
                filtered_regions.splice(exists, features[0].properties.name.length);
            }
        }
        else{
            filtered_regions = [];
        }
        var filter = ['in', 'name'];
        for(i = 0; i < filtered_regions.length; i++){
            filter.push(filtered_regions[i]);
        }

        map.setFilter("selected", filter);

        $('#selected_regions').val(filtered_regions.toString());
    });

    // retrieve map style
    var layerList = document.getElementById('style-menu');
    var inputs = layerList.getElementsByTagName('input');

    // switch map style
    function switchLayer(layer) {
      var layerId = layer.target.id;
      map.setStyle('mapbox://styles/mapbox/' + layerId + '-v9?optimize=true');
      map.on('style.load', function() {
        map.addLayer('dhs-clusters');
      });
    }

    for (var i = 0; i < inputs.length; i++) {
      inputs[i].onclick = switchLayer;
    }

    // toggle layers
    var dataLayers = {'dhs-clusters':'DHS Clusters'}
    var toggleableLayerIds = [];
    for(var key in dataLayers) { toggleableLayerIds.push(key); }

    for (var i = 0; i < toggleableLayerIds.length; i++) {
      var layer_id = toggleableLayerIds[i];

      var link = document.createElement('a');
      link.href = '#';
      link.className = 'active';
      link.textContent = dataLayers[layer_id];

      link.onclick = function (e) {
          var clickedLayer = layer_id;
          e.preventDefault();
          e.stopPropagation();

          var visibility = map.getLayoutProperty(clickedLayer, 'visibility');

          if (visibility === 'visible') {
              map.setLayoutProperty(clickedLayer, 'visibility', 'none');
              this.className = '';
          } else {
              this.className = 'active';
              map.setLayoutProperty(clickedLayer, 'visibility', 'visible');
          }
      };

      var layers = document.getElementById('menu');
      layers.appendChild(link);
    }

    //download button.
    //var download_link = document.createElement('a');
    //download_link.href = "{% url 'download' country admin_level %}";
    //download_link.className = 'active';
    //download_link.textContent = "Download";

    //var download_nav = document.getElementById('download');
    //download_nav.appendChild(download_link);

    //slider for administrative region details:
    var admin_level = new Slider("#slider-admin-level", {
        ticks: [1, 2, 3],
        value: {{ admin_level }},
        orientation: 'vertical',
        tooltip_position:'right',
        formatter: function(value) {
            return 'Admin Level ' + value;
        }
    });

    var originalVal;

    $('#slider-admin-level').on('slideStart', function(ev){
        originalVal = $('#slider-admin-level').val();
    });

    $('#slider-admin-level').on('slideStop', function(ev){
        var newVal = $('#slider-admin-level').val();
        if(originalVal != newVal) {
            location.href = "{% url 'map' country %}" + "/level-" + newVal;
        }
    });


  </script>

{% endblock %}
